<div class="card">

  <div class="verCanvas">

  </div>

  <div class="editarCanvas" *ngIf="editorCanvas == true">
    <div class="card-header">Guardar / Importar</div>

    <div class="custom-item-title">Controles BD</div>


    <button data-toggle="tooltip" data-placement="bottom" title="Save in localStorage" type="button"
            class="btn btn-primary" (click)="saveCanvasToDB();">
      <i class="fa fa-save" aria-hidden="true"></i> Guardar en BD</button>
  </div>





    <div class="card">
        <div class="card-header">Fondo del lienzo</div>

        <div class="custom-item-title"> Imagen de fondo</div>

        <div class="card-body">
            <div class="custom-item">
              <div class="verCanvas"  *ngIf="editorCanvas == false" >
                <input type="text" class="form-control" placeholder="http://example.jpg"
                       [(ngModel)]="canvasImage" (keyup)="setCanvasImage()" disabled>
              </div>

              <div class="editarCanvas" *ngIf="editorCanvas == true">
                <div class="custom-item-body">
                  <input type="text" class="form-control" placeholder="http://example.jpg"
                         [(ngModel)]="canvasImage" (keyup)="setCanvasImage()">
                </div>
              </div>

            </div>
        </div>
    </div>

    <div class="card">
    <div class="card-header">Cargar otro centro</div>

    <div class="custom-item-title">Centros</div>

    <div class="card-body">
      <div class="custom-item">
        <div class="custom-item-body">
          <button data-toggle="tooltip" data-placement="bottom" title="Save in localStorage" type="button"
                  class="btn btn-primary" (click)="mostrarCentros()">
            <i class="fa fa-save" aria-hidden="true"></i> Ver centros</button>
        </div>
      </div>
    </div>
  </div>
</div>
